.Pagina-menu{

    main{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        
    }


    .cadastro-consulta > a {
        color: #f0f0f0 !important;
    }

    .segunda-parte{
        height: 100vh;
        width: 100%;
        background-image: url('../../assets/image/fundo-menu-novo.png');
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .img-saida-topo{
        width: 25px;
        height: 30px;
        padding-top: 5px;
    }

    .atalho-saida{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: end;
        padding-right: 15px;
        padding-left: 1em;
        gap: 5px;
    }

    .atalho-saida > a {
    
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 600;
        color: #000000 !important;
        font-size: 20px;
        padding-top: 0.3em;
    
    }

    @media (max-width: 1440px) {
        header{
            display: flex;
            flex-direction: row;
            align-items: center;
            background: #111112;
            height: 100px;
        }

        .dahsboard-lateral{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #111112;
            width: 190px;
            height: 100vh;
            padding-top: 2em;
            
        }

        .image-header{
            text-align: center;
            padding-top: 1em;
            border-radius: 80em;
            background-color: #B2B2B2;
            width: 3.6em;
        }

        .nome-funcionario{
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 600;
            color: #f0f0f0 !important;
            font-size: 17px;
            
        }

        .status-funcionario{
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
    
            color: #B2B2B2;
    
        }

        .cadastro-consulta{
            display: flex;
            flex-direction: row;
            gap: 1em;
            justify-content: center;
            margin-top: 0.5em;
    
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 600;
            color: #f0f0f0 !important;
            font-size: 18px;
            cursor: pointer;
        }
    }


    @media (max-width: 1025px) {
        header{
            background: #111112;
            height: 70px;
        }

        .dahsboard-lateral{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #111112;
            width: 150px;
            height: 100vh;
            padding-top: 2em;
        }

        .cadastro-consulta{
            display: flex;
            flex-direction: row;
            gap: 1em;
            justify-content: center;
            margin-top: 0.2em;
    
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 600;
            color: #f0f0f0 !important;
            font-size: 14px;
            cursor: pointer;
        }

        .nome-funcionario{
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 600;
            color: #f0f0f0 !important;
            font-size: 14px;
            
        }

        .status-funcionario{
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 19px;
    
            color: #B2B2B2;
    
        }

        .image-header{
            text-align: center;
            padding-top: 1em;
            border-radius: 80em;
            background-color: #B2B2B2;
            width: 3.5em;
        }
    }

    .cadastro-consulta:hover{
        transform: scale(1.2);
    }


}

