.Pagina-menu{

    main{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }


    .cadastro-consulta > a {
        color: #f0f0f0 !important;
    }

    .segunda-parte{
        height: 100vh;
        width: 100%;
        background-image: url('../../assets/image/fundo-menu-novo.png');
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .img-saida-topo{
        width: 25px;
        height: 30px;
        padding-top: 5px;
    }

    .atalho-saida{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: end;
        padding-right: 15px;
        padding-left: 1em;
        gap: 5px;
    }

    .atalho-saida > p {
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 600;
        color: #000000 !important;
        font-size: 20px;
        padding-top: 0.3em;
    }




    @media (max-width: 1280px) {
        .segunda-parte{
            height: 80vh;
            width: 100%;
            background-image: url('../../assets/image/fundo-menu-novo-19802.png');
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
}

