.cont-Cabecalho{
    background: #111112;
    height: 80px;

    .conteudo-header{
        display: flex;
        flex-direction: row;
        padding-left: 4em;
        padding-top: 0.5em;
        
    }
    
    .dados-funcionario-header{
        display: flex;
        flex-direction: column;
        gap: 0.8em;
        padding-top: 0.5em;
        padding-left: 0.5em;
        
    }
    
   
    .campo-imagem-funcionario{
    
        font-size: 10px;
        
    }
    .img-seta{
        
        height: 15px;
        width: 15px;
    }
    
    .img-seta-div{
        padding-top: 2em;
        padding-right: 0.3em;
    }
    
    .funcionario{
        display: flex;
        align-items: center;
        justify-content: center;
        
        background-color: #707070;
        border-radius: 100%;
        
        font: 500 20px 'Inter';
        color: #fff;

        height: 50px;
        width: 50px;
    }
    
    .nome-funcionario{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 600;
        color: #f0f0f0;
        font-size: 14px;
        
    }
    
   
}

