.lateral-consulta{
    
    .imgs-cadas-consult{
        height: 30px;
        width: 30px;
    }
    
    
    .dahsboard-lateral{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #111112;
        width: 140px;
        height: 100%;
        padding-top: 2em;
        
    }
    
    .linha-divisoria{
        width: 70%;
        background-color: #B2B2B2;
        height: 1;
    }
    
    .cadastro-consulta{
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        justify-content: center;
        margin-top: 0.5em;
        width: 80%;
    
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 600;
        color: #f0f0f0;
        cursor: pointer;
    }
    
    .caixa-entrada > input {
        width: 20em;
        height: 2em;
        color: #000000 !important;
        padding: 0.8em 1.5em;
        
        
    
        background: #C4C4C4;
        border-radius: 80px;
        border: none;
    }
    
    .caixa-entrada{
        display: flex;
        flex-direction: row;
        
        padding-top: 0em;
        gap: 0.5em;
       
    }

    .cadastro-consulta:hover > a{
        color: #757575 !important;
    }

    .cadastro-consulta:hover{
                transform: scale(1.2);
    }


}